﻿@model PoC.Services.Abstraction.Dto.CurrencyExchangeResult

@{
    ViewBag.Title = "Exchange";
}

<h2>Exchange</h2>

<div>
    <h4>CurrencyExchangeResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeResult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
</p>
